@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
  font-family: "Cabin";
  background-color: #F8F7FF;
}

#tentacles {
  width: 50px;
}

.header {
  display: flex;
  background-color: #222E50;
  padding: 1%;
  color: white;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

.stats-container {
  display: flex;
  align-items: center;
}

.stats-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #778a35;
}

.stats-card {
  background-color: #ebebe8;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffffff;
}

.game-card {
  background-color: #ffffff;
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #778a35;
}

.btns-sort {
  display: flex;
}

.sort-section {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#button-container {
  display: flex;
}

button {
  font-family: "Cabin";
  padding: 0.4rem 0.5rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin: 0.5em;
}

@media (max-width: 700px) {
  .btns-sort {
    flex-direction: column;
    gap: 1rem;
  }

  #button-container,
  .sort-section {
    flex-wrap: wrap;
    justify-content: end;
    margin-left: 0;
  }
}
